.hide {
	display: none;
}

p {
	color: #FFF;
	text-decoration: none;
}

span {
	color: #FFF;
	text-decoration: none;
}

a {
	color: #FFF;
}

h1 {
	color: #FFF;
}

h3 {
	color: #FFF;
}

a:hover {
	color: #f76ae1;
}

body {
	background: linear-gradient(to right, #202028, #3b3837) fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Roboto, sans-serif;
}


label{
	color: #FFF;
}

div {
    display: inline-block;
}

div label {
    display: block;
}
input{
	width: 100px;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;

	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

/* Container Styling */
.container {
	width: 90%;
	max-width: 400px;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
}

.container img {
	width: 80%;
	max-width: 300px;
}

.container p {
	font-size: 16px;
	line-height: 1.5;
}

#price,
#crypto {
	margin-top: 15px;
}

footer {
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
	color: #555;
}

footer a {
	color: #a741fc;
	text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
	.container {
		width: 100%;
		margin: 0 10px;
		padding: 15px;
	}

	.container img {
		width: 100%;
		max-width: 300px;
	}
}