html,
body {
  margin: 0;
  padding: 0;
  background: #01061e;
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background:#010645; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #9c3fdc, #4020a2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #4020a2, #9c3fdc);
}
table{
  margin-bottom: 0!important;
  border-color: transparent!important;
}
thead {
  background: linear-gradient(45deg, #9c3fdc, #4020a2);
}
tbody{
  border-top: none!important;
}
th,td{
  text-align: center;
}
thead tr th {
  padding: 15px !important;
  color: #fff;
}
.card {
  margin-bottom: 60px;
    border:none;

}
footer {
  background: linear-gradient(45deg, #9c3fdc, #4020a2);
  padding: 10px;
}
footer {
  padding: 20px 0;
}
footer a {
  padding: 5px;
}
footer a i {
  color: #fff;
  font-size: 19px;
  background: #01061e;
  height: 40px;
  width: 40px;
  padding: 11px 8px;
  border-radius: 100px;
  transition: 0.3s;
}
footer .fa-facebook {
  padding: 11px 11px;
}
footer .fa-telegram {
  padding: 11px 11px;
}
footer a i:hover {
  transform: rotate(360deg);
}
